*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container{
    /* width: 1920px; */
    width: 100%;
    height: 850px;
    background-color:  #f4b6c2;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}